#container, html.embed{
  background: none;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select{
  border: 1px solid #777;
  padding: 5px;
}

.wufoo label.desc, .wufoo legend.desc{
  font-size: 1.25em;
  font-weight: normal;
}

.leftLabel .desc, .rightLabel .desc{
  float: none;
  width: auto;
  margin: none;
}

.wufoo input.btTxt {
  -webkit-appearance: none;
  background-color: #f2433d;
  font-family: arial;
  border: 1px solid #77211e;
  padding: 5px 10px;
  display: block;
  color: #fff;
  margin: 0 auto;
}

.noI .leftLabel .buttons, .noI .rightLabel .buttons {
  padding-left: 0%;
}

.noI .leftLabel .buttons div, .noI .rightLabel .buttons div{
  width: 100%;
  margin: 0px;
}

.wufoo li.focused{
  background: none;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select{
  border: 1px solid #777;
  padding: 5px;
  width: 242px;
}

.noI form li, .altInstruct form li{
  display: block;
  margin: 0 auto;
  width: 270px !important;
}

ul{
  width: 100%;
  display: block;
}

input, input[type="password"], input[type="search"], textarea, input[type="range"], isindex {
  border-radius: 0px;
}