$buttonColor: rgb(244, 77, 69);

html body{
  padding-left: 0px;
  line-height: 1.2;
  background-color: #00c2cc;
}

iframe[style]{
  display: inline;
  margin-bottom: 10px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'langdonregular', Verdana;
  margin-top: 20px;
}

h2.mobile{
  font-size: 1.75em;
  color: #333;
  font-weight: normal;
}

p{
  font-size: 1em;
  text-align: left;
  font-family: 'metaplus', Verdana;
}

#content{
  padding: 0; 
  margin: 0px;
  width: auto;
  z-index: 100;
}

.top-bar.nav{
  padding: 20px 40px;
  background-color: #444;
  margin-bottom: 0px;
  height: auto;
}

.twitter{
  max-height: 40px;
}

.logo{
  max-height: 50px;
  float:left;
}

.seperate{
  background-color: #777;
  height: 20px;
  width: 100%;
}

div.header{
  position: relative;
  padding: 0px;
  overflow: hidden;
  animation: night 80s infinite;
  aniamtion: none/9;
  -webkit-animation: night 80s infinite;
  background-color: indigo;
  float:none;
}

.header h2{
  color: #fff;
  font-size: 3.6875em;
  top: 20px;
  width: 100%;
  z-index: 10000000;
  position: absolute;
  text-shadow: 1px 1px 5px #444;
}

@keyframes night{
  0% {
    background-color: indigo;
  }
  50%{
    background-color: midnightblue;
  }
  75% {
    background-color: lightblue;
  }
  95%{
    background-color: #f2433d;
  }
  100%{
    background-color: indigo;
  }
}


@-webkit-keyframes night  /*Safari and Chrome */
{
  0% {
    background-color: indigo;
  }
  50%{
    background-color: midnightblue;
  }
  75% {
    background-color: lightblue;
  }
  95%{
    background-color: #f2433d;
  }
  100%{
    background-color: indigo;
  }
}

img.buildings{
  width: 100%;
  max-width: 900px;
  margin-top: 60px;
  z-index: 50;
  position: relative;
  margin-right: 0px;
  float: right;
}


img.moon {
  width: 10%;
  position: absolute;
  top: 500px;
  top: 50%\9;
  left: 5%\9;
  z-index: 1;
  max-height: 150px;
  width: auto;
}

.moon_move{
  animation: moon 40s linear 1; 
  -webkit-animation: moon 40s linear 1;
}

@keyframes moon {
  from {  transform: rotate(180deg) translateX(0px); }
  to   {  transform: rotate(0deg) translateX(0px); }
}

@-webkit-keyframes moon {
  from {  -webkit-transform: rotate(180deg) translateX(0px); }
  to   {  -webkit-transform: rotate(0deg) translateX(0px); }
}

img.sun {
  width: 10%;
  position: absolute;
  top: 500px;
  max-height: 150px;
  width: auto;
}

.sun_move{
  animation: sun 40s linear;
  -webkit-animation: sun 40s linear;
}

@keyframes sun {
  from {  transform: rotate(180deg) translateX(0px); }
  to   {  transform: rotate(0deg) translateX(0px); }
}

@-webkit-keyframes sun {
  from {  -webkit-transform: rotate(180deg) translateX(0px); }
  to   {  -webkit-transform: rotate(0deg) translateX(0px); }
}

.stars{
  width: inherit;
  position:absolute;
  top: 0px;
  padding: 10px;
  height: 500px;
}

.stars img{
   position:relative;
}

.ruby{
  margin: 30px auto;
  display: block;
}

input.email, input.button {
  font-size: 20px;
}

input.button {
  border-color: $buttonColor;
  background-color: $buttonColor;
  font-weight: bold;

  &:hover {
    background-color: darken($buttonColor, 10);
  }
}

_::-ms-reveal, .selector {

  input[type="submit"].LR-sign-up-submit, input[type='email'].signup-email.LR-sign-up-input, input[type='text'].LR-share-link{
    height: 34px;
    max-height: none;
  }

  div.header{
    animation-name: none;
  }

  h2.hide-for-small{
    padding: 50px;
  }

}

@-moz-document url-prefix() {
  .LR-sign-up-container-inner input[type="submit"].LR-sign-up-submit{
    height: 35px;
    padding-top: 6px !important;
  }

  img.moon {
    top: 50%;
    left: 5%;
  }

  div.header{
    animation-name: none;
  }
}


/* Insert CSS overrides here */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  div.header{
    animation: none;
    -webkit-animation: none;
  }

  .seperate{
    height: 10px;
  }

  .ruby {
    margin: 0px auto 30px;
  }

  h2.hide-for-small{
    display: none;
  }
}
